/* - Mobile: 375px
- Desktop: 1440px */
body{
    background-image: url(../images/bg-desktop.svg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color: var(--Primary-color);
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    /* max-width: 1440px; */
}

.header-images{
    display: flex;
    flex-direction: column;
    /* justify-content: center;   */
    padding-left: 70px;  
    padding-top: 54px;
}
.min-image{
    width: 50vw;
    min-width: 595px;
    max-width: 709px;
}
.header-images .windows{
    margin-top: 20px;
    width: 100%;
}
.header-images .title{
    height: 50px;
    width: 218px;
    color: rgba(0, 0, 0, 0);
    background-image: url(../images/logo.svg);

    background-repeat: no-repeat;
    margin-bottom: 70px;
    background-size: 100% ;

}

.main-contents{
    display: grid;
    grid-template-rows: 700px 1fr;
    grid-template-columns: minmax(300px 526px );
    flex-direction: column;
    /* position: relative; */
    padding: 0px 80px 0px 55px ;
}
.section{
    display: flex;
    /* margin-top: 110px; */
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
}
.main-contents h2{
    font-size: 40px;
    margin: 78px 0 10px 0;
}
.main-contents p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    margin: 0px 0 5px 0 ;
}
.main-contents .btn{
    /* margin-top: 30px; */
    width: 200px;
    height: 58px;
    border-radius: 30px;
    border-style: none;
    box-shadow: 5px 3px 10px 3px rgba(0, 0, 0, 0.199);
    color: #674bafe8;
    font-weight: 400;
    font-size: 18px;

    margin-top: 20px;
}

.main-contents .social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    
}
i{
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8) ;
    padding: 8px;
    border-radius: 50%;
}
.fa-twitter, .fa-facebook-f{
    font-size: 18px;
    padding: 8px 9px ;
}
.fa-facebook-f{
    padding: 8px 12px;
}
@media(max-width: 1024px){
    .main-contents .social-media{
        align-items: center;
        margin-right: 30px;
    }
}
/* @media(max-width: 1200px){
    body{
        background-image: url(../images/bg-mobile.svg);
        background-size: cover;
    }
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section{
        align-items: center;
    }
} */