/*  ==== GLOBAL ==== */
body{
    background-image: url(../images/bg-desktop.svg);
    background-size: var(--max-w);
    background-repeat: no-repeat;
    background-color: var(--Primary-color);
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    max-width: var(--max-w);
}

/* === FIRST SECTION ==== */

.header-images{
    display: flex;
    flex-direction: column;

    padding-left: 70px;  
    padding-top: 54px;
}
.header-images .title{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 100% ;

    color: var(--Transparent);
    height: var(--title-big-h);
    width: var(--title-big-w);

    margin-bottom: 70px;

}

/*  ==== IMAGE CONTAINER ==== */
.min-image{
    width: 80vw;
    min-width: var(--image-big-minw);
    max-width: var(--image-big-maxw);
}

.header-images .windows{
    width: var(--img-w);

    margin-top: 20px;
}

/* ==== SECOND SECTION ==== */

.main-contents{
    display: grid;
    grid-template-rows: 700px 1fr;
    /* grid-template-columns: minmax(300px, 526px ); */

    padding: 0px 80px 0px 55px ;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
}
.main-contents .section h2{
    font-size: var(--title2-big-fs);

    margin: 78px 0 10px 0;
}
.main-contents .section p{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--main-p-big-fs);
    line-height: var(--main-p-big-lh);
    font-weight: 400;

    margin: 0px 0 5px 0 ;
}
.main-contents .section .btn{
    
    border-style: none;
    font-weight: 400;

    border-radius: var(--btn-big-br);
    font-size: var(--btn-big-fs);
    width: var(--btn-big-w);
    height: var(--btn-big-h);
    color: var(--Soft-primary);
    box-shadow: 5px 3px 10px 3px #00000033;

    margin-top: 20px;
}
/*  ====  FOOTER  ==== */

.footer .social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    
}
.fa-instagram, .fa-twitter, .fa-facebook-f{
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8) ;
    padding: 8px;
    border-radius: 50%;
}
.fa-twitter, .fa-facebook-f{
    font-size: 18px;
    padding: 8px 9px ;
}
.fa-facebook-f{
    padding: 8px 12px;
}


@media(max-width: 1000px){

/*  ==== GLOBAL ==== */

    body{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        flex-wrap: wrap;
        align-items: center;
    }

    .main-contents{
        padding: 0 55px;
        grid-template-rows: 450px 1fr;
    }
/* === SECOND SECTION === */

    .section{
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        text-align: center;
    }
    .section h2{
        font-size: 48px;
        margin-top: 116px;
    }
    .section p{
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
    }
    .section .btn{
        width: 400px;
        height: 80px;
        border-radius: 40px;
        font-size: 25px;
    } 

    /*  ==== FOOTER ==== */

    .main-contents .footer .social-media{
        margin: 0;
        justify-content: center;
        gap: 15px;
        /* por que a posição destes elementos variaram quando coloquei o main-contents no lugar da class footer se posicionaram maix abaixo, mesmo depois de eu verificar questões relativas ao tamanho do  row no grid não entendi. */
        
    }
    .fa-twitter , .fa-facebook-f , .fa-instagram{
        width: 58px;
        height: 58px;
        font-size: 28px;
        padding: 18px 5px 15px 18px;
        
        
    }
    .fa-facebook-f{
        padding: 15px 10px 10px 20px;
    }
    .fa-twitter{
        font-size: 25px;
        padding-top: 15px;
        padding-right: 18px;
    }
    .fa-instagram{
        padding: 13px 15px;
        font-size: 30px;
    }

}
@media(max-width: 768px){
    .container{
        padding: 10px;
    }
    .header-images{
        padding-left: 0px;
        padding-top: 55px;
    }
    .header-images .title{
        padding-bottom: 90px;
        height: 60px;
        width: 250px;
    }
    .min-image{
        min-width: 400px;
    }
    
    
}
@media(max-width: 660px){
    .main-contents .social-media{
        height: 80px;
        margin-top: 200px;
    }
    .main-contents{
        grid-template-rows: 600px 1fr;
        /* teria como alinhar esse elemento com flex embaixo ?  */
    }
}
@media(max-width: 426px){
    .container{
        padding: 15px;
    }
    .min-image{
        min-width: 310px;
    }
    .main-contents .btn{
        width: 300px;
        height: 50px;
    }
    .main-contents .social-media{
        height: 80px;
        margin-top: 340px;
    }
}
